<h1 style="font-family: monospace; font-size: 10mm; position: relative; left: 20mm; color: rgb(36, 45, 124);">Edit this Movie</h1>
<br>

<div class="container">

    <div id="DivOne">
    <p><b>Name: </b>{{moviee.name}}</p>
    <p><b>Price: </b>{{moviee.price}}</p>
    <p><b>Release Date: </b>{{moviee.releaseDate}}</p>
    
<div *ngFor="let genre of genres">
        <p *ngIf="genre.id === moviee.genreId"><b>Genre: </b>{{ genre.name }}</p>
    </div>
    
    <img style="width: 40mm; height: 40mm;" id="b" [src]="getBase64Image(moviee.imageData)" alt="Product Image" />

    <p><b>Status: </b>{{moviee.status}}</p>
    <p><b>Timing: </b>{{moviee.slots}}</p>
    <p><b>language: </b>{{moviee.language}}</p>
    <p><b>Status: </b>{{moviee.status}}</p>
    </div>
    <div id="DivTwo">
        <div id="one">
            <div class="col">
                <label>Enter Updated Movie Name</label>
                <input type="text" class="form-control" placeholder="Ex. Avenegrs, Suzume" name="movie" [(ngModel)]="movie">
              </div>
              <div class="col">
                <label>Enter Updated Price</label>
                <input type="text" class="form-control" placeholder="Ex. 150₹, 250₹" name="price" [(ngModel)]="price">
              </div>
              <div class="col">
                <label>Updated Release Date</label>
                <input type="date" class="form-control" name="releaseDate" [(ngModel)]="releaseDate">
              </div>
              
              <mat-radio-group aria-label="Select Updated Status" [(ngModel)]="status">
                <mat-radio-button value=1>Enabled</mat-radio-button>
                <mat-radio-button value=0>Disabled</mat-radio-button>
              </mat-radio-group>
            
              <mat-form-field>
                <mat-label>Select Updated Timings</mat-label>
                <mat-select [(ngModel)]="selectedSlots" name="selectedSlots">
                
                  <mat-option *ngFor="let slot of slots" [value]="slot">{{ slot }}</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field>
                <mat-label>Select Updated Languages</mat-label>
                <mat-select [(ngModel)]="selectedLanguages" name="selectedLanguages">
                  
                  <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
                </mat-select>
              </mat-form-field>
            
              <mat-form-field>
                <mat-label>Select Updated genre</mat-label>
                <mat-select [(ngModel)]="selectedGenre" name="selectedGenre">
                  <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
                </mat-select>
              </mat-form-field><br>
              <input type="file"(change)="onImageChange($event)" accept=".jpg, .jpeg, .png"><br><br>
              <button [disabled]="!(movie && price && releaseDate && status && selectedSlots && selectedLanguages && selectedGenre) " type="button" (click)="submitForm()">Updated Movie</button>
            </div>
    </div>
     
    
</div>