<div class="main">
    <p style="color: white; font-family: monospace;"><b>By accessing and using this NMS Cinemas online movie ticket booking web application, 
        you agree to comply with our terms and conditions. NMS Cinemas is committed to providing a convenient and 
        user-friendly platform for booking movie tickets. Any unauthorized use of the application is strictly
         prohibited. We reserve the right to modify or terminate services at our discretion. Your use of the application 
        constitutes acceptance of these terms. Thank you for choosing NMS Cinemas for your entertainment needs.</b></p>
</div>